<% content_for :title do %>CRYPTO20 ICO Status<% end %>
<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":2,"size_y":2},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1}]')
 });
 </script>

<div class="gridster">
  <ul>
    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="C20" data-moreinfo="Track dat moulah!"></div>
    </li> -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presale" data-view="Number" data-title="C20 Tokens Sold" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nav" data-view="Nav" data-title="Net Asset Value" data-moreinfo="USD" data-prefix="$"></div>
    </li>


    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="backers" data-view="Fullnumber" data-title="Backers"></div>
    </li> -->

    <!-- <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="usd_value" data-view="Graph" data-title="$USD Value" style="background-color:#ff9618"></div>
    </li> -->

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="usd_value" data-view="Line" data-title="$USD Value" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="contribution" data-view="Bubble" data-title="Investment Performance"></div>
    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="growth" data-view="Meter" data-title="Growth" data-height="220" data-width="240" data-min="-10" data-max="10" data-suffix="%"></div>
    </li> -->

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="split" data-view="Doughnut" data-title="Token Split Ratio"</div>
    </li>

  </ul>
</div>

<center>
<a class="updated-at" style="opacity: 0.2";>If you want to donate to keep this running, send C20 to 0x74c2E1423998078581E0fb04460a94B84b157642</a>
</center>
